<!--#requireResource("com.atlassian.confluence.plugins.wow-plugin:resources")-->
#if(${permitted})<button id="add-raid-button-${uuid}" class="aui-button aui-button-primary">Create Raid</button>#end

<form id="add-raid-form-${uuid}" action="/rest/wow/1.0/wow/raid" method="POST" class="aui">
    <fieldset>
        <legend class='assistive'>Create a new RAID for your guild.</legend>
        <div class='field-group'>
            <label for='key'>Key:</label>
            <input name='key' size='30'>
        </div>

        <fieldset class="group">
            <div class="checkbox">
                <input type="checkbox" id="invite" name="invite" class="checkbox" checked="true">
                <label for="invite">Invite all linked players</label>
            </div>
        </fieldset>
    </fieldset>
</form>

<script type="text/javascript">
    (function ($)
    {
        $(document).ready(function ()
        {
            WOW.makePopup("#add-raid-form-${uuid}", "#add-raid-button-${uuid}", "add-raid-${uuid}", {
                data: function (form)
                {
                    return {
                        key: form.find("input[name='key']").val(),
                        invite: form.find("input[name='invite']").is(':checked')
                    }
                }
            });
        })
    })(AJS.$);
</script>
