#anb-header {
    width: 100%;
    height: 250px;
    background-image: url("images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 32px;
}

#anb-header .anb-title {
    display: block;
    font-size: 4.0em;
    color: #e9e9e9;
}
#anb-header .anb-subtitle {
    display: block;
    font-size: 0.8em;
    color: #e9e9e9;
    font-style: italic;
}
