.wow {
    display: inline;
}

.wow A {
    text-decoration: none;
    color: #ffd200;
}

.wow .wowitemtitle {
    font-family: arial, sans-serif;
    font-size: 0.8em;
    display: inline;
    padding: 2px;
    border: 1px solid #a9a9a9;
    background-color: #333333;
    -moz-border-radius: 5px;
}

.wow .wowtt {
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #e5e0dd;
    border: 1px solid #a9a9a9;
    padding: 3px;
    background-color: #333333;
    -moz-border-radius: 5px;
    min-width: 150px;
    max-width: 350px;
    line-height: 1.3em;
    z-index: 1000;
}

#content .wiki-content .wow .wowtt div {
    color: #ffffff;
}

.wow .iname {
    font-size: 18px;
}

.wow .wowrttxt {
    float: right;
    display: compact;
    position: relative;
    top: -14px;
    text-align: right;
}

.wow .credit {
    font-family: arial, sans-serif;
    font-size: 11px;
}

.wow A.credit {
    font-size: 11px;
    color: blue;
}

.wow .myBold {
    font-weight: bold;
}

.wow .greyname, .wow .myGrey {
    color: #9d9d9d;
}

.wow .whitename, .wow .myWhite {
    color: #FFFFFF;
}

.wow .greenname, .greentext, .itemeffectlink, .wow .myGreen, .wow .bonusGreen {
    color: #1EFF00;
}

.wow .bluename, .wow .myBlue {
    color: #0070DD;
}

.wow .purplename, .wow .myPurple {
    color: #A434EE;
}

.wow .orangename, .wow .myOrange {
    color: #D17C22;
}

.wow .redname, .wow .myRed {
    color: #FF0000;
}

.wow .goldtext, .wow .myGold {
    color: #ffd200;
}

.wow .esock, .fsock {
    height: 12px;
    width: 12px;
}

.wow .itemeffectlink {
    color: #1EFF00;
}

.wow .akznotice a {
    color: #0070DD;
}

.wow .wowtt {
    position: absolute;
    display: none;
}
