.wowlink {
    text-decoration: none;
}

.wowlink {
    font-family: arial, sans-serif;
    display: inline;
    padding: 0;
    margin: 0;
}

.character-summary, .item-summary, .achievement-summary {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #A9A9A9;
    background: #333;
    color: white;
    padding: 2px;
    display: inline;
    font-size: 0.8em;
}

.character-tooltip {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #A9A9A9;
    height: 64px;
    margin-bottom: 5px;
    padding: 5px;
    background: #333;
    display: none;
    position: absolute;
    z-index: 1000;
    color: white;
    width: 300px;
    text-align: left;
    font-size: 1.0em;
}

div.character-details span.character-name,
div.character-details span.character-level {
    font-size: 1.5em;
}

div.character-details {
    padding: 2px;
    overflow: hidden;
}

.character-avatar {
    padding: 0 6px 2px 2px;
    float: left;
}
.character {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #A9A9A9;
    height: 60px;
    width: 721px;
    margin-bottom: 5px;
    padding: 5px;
    background: #333;
}

.character-name {
    margin-bottom: 3px;
    cursor: wait;
}

.character-item {
    display: inline;
}

.character-info {
    padding-bottom: 5px;
    color: #fff;
}

.characters-list-menu {
    float: right;
}

.character-delete-link {
    float: right;
    display: none;
}

.main-wrapper {
    width: 240px;
    float: right;
}

.characters-wrapper {
    margin-right: 260px;
    min-width: 300px;
}

.characters-wrapper h2, .main-wrapper h2 {
    margin-bottom: 10px;
}

.character-average-item-level {
    font-weight: bold;
}

.character-death-knight { color: #c41f3b; }
.character-druid { color: #ff7d0a; }
.character-hunter { color: #abd473; }
.character-mage { color: #69ccf0; }
.character-paladin { color: #f58cba; }
.character-priest { color: #ffffff; }
.character-rogue { color: #fff569; }
.character-shaman { color: #0070de; }
.character-warlock { color: #9482c9; }
.character-warrior { color: #c79c6e ; }
.character-monk { color: #00ff96 ; }

.achievement { color: #FFD100 !important; }

.characters-wrapper .characters-list .character a {
    color:#FFFFFF;
    text-decoration:none;
}

.visible { display: block }

ul.raids { padding-left: 0; }
ul.raids li { list-style: none; }

div.block { border: solid 1px #9d9d9d; padding: 10px; border-radius: 5px; background: #eee; margin-bottom: 10px; }
div.wrapper { min-width: 300px; }
div.block.right { margin-left: 5px; }
div.block.left { margin-right: 5px; }
div.left.wrapper { float: left; width:50%; }
div.right.wrapper { margin-left:50% }

div.dashboard-group.raid { width: 100% }
ul.raid-list { width: 100%; list-style: none; padding: 0 }
ul.raid-list li { padding: 10px; border: solid gray 1px; border-radius: 5px; background-color: #e5e0dd; font-size: 2em; height: 2em; }
/*ul.raid-list button { font-size: 0.5em }*/


div#notify { position: absolute; left: 90%; margin-left: -50%; top:0; width: 20% }
div#notify div#message { max-width: 200px; padding: 10px; text-align: center; }